*.ckp
*.lnk
my_test.py
todo.py
_todo.py
_my_test.py
run.log
*.pyc
*.pt

APESv2_protected/
agi_project_10_category-main/
AgiProbot_Motor_Segmentation_WACV2023-main
APES_Dev-master/
GUI_agi-master
副本/
standard_deep_Learning_structure
.idea/
agi_project_10_category-main/.idea/
AgiProbot_Motor_Segmentation_WACV2023-main/.idea/
agi_para_extracter/.idea/
standard_deep_Learning_structure/.idea/
model_trainer/.idea/
large_motor_segmentation/.idea/

agi_para_extracter/para_extracter/cover.pcd

binary_segmentation/data/date_set/*
binary_segmentation/outputs/*
semantic-segmentation-editor-master/

agi_project_10_category-main/outputs
large_motor_segmentation/outputs

SFB_zivid/SFB_Demo

APESv3/training_in_line_sever.txt
APESv3/training_in_line_workstation.txt

